
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">FPT</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href=""> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("index","Staff")">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("CreateTrainee","Staff")">Create Trainee</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("ViewAllTrainer","Staff")">Trainer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("CreateTrainer","Staff")">Create Trainer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("ViewAllCategories","Staff")">Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("CreateCategories","Staff")">Create Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("ViewAllCourse","Staff")">Course</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("CreateCourse","Staff")">Create Course</a>
            </li>

            
        </ul>
    </div>
</nav>